* {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    max-width: 1030px;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}




.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1028px;
    padding: 1px 0;
    margin: 46px auto;
}



.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 180px;
    height: 51px;
}

.hover {
    display: none;
}

.logo:hover .hover {
    display: block;
}

.logo:hover {
    color: #F26522;
}

.logo:hover .idle {
    display: none;
}




.logo-right {


    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 3px;
}

.logo-text-1 {
    font-size: 29px;
}

.logo-text-2 {
    font-size: 18px;
}


.header-wrapper .right {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 3px;
    align-items: flex-end;
    font-size: 18px;
    justify-content: center;


}




.contacts {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 3px;
    align-items: flex-end;
    font-size: 18px;
    justify-content: center;

}

/*_________________galery tours card__________________________________*/


.gallery-tours-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 57px;
}

.gallery-tours-card-container {
    max-width: 1030px;
    min-height: 50px;
}



.tours-card-image {
    position: relative;
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;
    background-size: cover;


}

.tours-card-image-2 {
    position: relative;
    background-image: url(../images/image52.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;
    background-size: cover;

}

.tours-card-image-3 {
    position: relative;
    background-image: url(../images/image-22.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;
    background-size: cover;
}

.tours-card-image-4 {
    position: relative;
    background-image: url(../images/image1.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;


}

.tours-card-image-5 {
    position: relative;
    background-image: url(../images/image2.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;


}

.tours-card-image-6 {
    position: relative;
    background-image: url(../images/image3.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    overflow: hidden;


}

.image.wrapper>a:hover .tours-variety-wrapper {
    transform: translateY(0);
    max-width: 1028px;
}

.tours-variety-wrapper p {
    margin: 0;
}



.image.wrapper>a:hover .tours-variety-wrapper img {
    transform: translateY(4px);
}


.image.wrapper>a:hover h3 {

    color: #F26522;
}





.tours-variety-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F26522;
    transition: all 0.5s;
    transform: translateY(100%);
    padding: 12px 16px;


}

.price-wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-width: 295px;
    max-height: 55px;





}

.more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.tours-card-more-vector {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 15px;
}

.tours-card.title {

    font-size: 18px;
    font-weight: 400;

    margin-top: 20px;
    text-align: center;


}



/*/---------------------footer------------/*/



.footer {
    justify-content: center;
    display: flex;

    min-width: 306px;
    min-height: 21px;
    margin-top: 52px;
    margin-bottom: 20px;


}

.copyright {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}